[2018-08-16 03:43] nissan opened #1 "How to pass a report parameter on call?"
I am trying to pass a parameter (currency) into the call to the PBI call. It used to work in the Jquery version, but if I load it into {extraSettings} or as a parameter on the <Report /> component, it does not pass onto the PBI call.

Is this a bug or am I putting this parameter in the wrong location?

[2018-08-16 05:14] akshay5995 commented on #1
@nissan Can you please share the snippet that is causing the error ?

[2018-08-16 05:26] akshay5995 commented on #1
@nissan Glad you found it useful :)

[2018-09-11 15:37] fdariasm opened #2 "Error in set filter"
I get an error (undefined property is invalid) when I use  report.setFilters. this is my code in onLoad method:

const filterByItemId = {
  $schema: "http://powerbi.com/product/schema#advanced",
  condition: [
    {
      operator: "Is",
      value: 2,
    }
  ],
  filterType: 0,
  logicalOperator: "And",
  target: {
    table: "table_name",
    column: "column_name"
  },
};

report.setFilters([f

[2018-09-11 15:41] #2 closed

[2018-09-24 23:13] nissan opened #3 "When a 2nd report loaded, error occurs"
I have a component which renders a PowerBi report using the powerbi-report-component and the props passed to it containing the reportId and groupId. Code inside the component gets the PBItoken based on the user's access token and adds filters appropriately.

However, when a user selects a new report from the menu (so Route does not change but reportId prop value changes), the new report does not l

[2018-09-25 01:30] nissan commented on #3
Ok, I figured this out. You need to have a `key={this.state.accessToken}` that matches to the `accessToken` parameter, so that when `componentDidUpdate` is called and the PBI access token regenerated for the new report, the diff on the DOM that React does detects the change and re-renders the Report component with the new parameters.

One lagging issue still though is that there is a 3-5 second pe

[2018-09-25 06:15] akshay5995 commented on #3
@nissan
Let me get some clarifications here .
Do you mean your component makes an AJAX call to get a new Embed-Token for each report using the Aad-Token of the user that's logged in ?

And you manage the configuration's being passed into ReportComponent(powerbi-report-compoenent) in your wrapping component's state ?

Can you provide a code snippet ?

[2018-09-25 07:05] nissan commented on #3
So this is how the report is rendered
[code]

and these are how it gets its values
[code]
this will work on the initial page load. When a new report is selected, the prop for ID changes, so componentDidUpdate will update this, and the related state values like this
[code]
Now this works, and the new report loads, however there is a few seconds after the user clicks an on page link in a menu compon

[2018-09-25 11:11] akshay5995 commented on #3
@nissan

As you are getting the accessToken directly into your component

`
 this.getAccessToken()
            .then((token: ITokenData) => {
              this.setState({ token });
            })
`
Why don't you try something like

`
<Report
  embedType="report" // "dashboard"
  tokenType="Aad"
  accessToken={this.state.token} //use Aad token instead
  embedUrl={this.state.embedUrl}
  embedId={th

[2018-09-26 02:16] akshay5995 commented on #3
Got it.
I've had a similar use case and used the Aad approach, it worked like a charm.
I would suggest you to try that approach too.

But, I believe you can accomplish what you are asking for in your wrapping component by introducing two more state properties to your component  **fetching** and **fetched** and setting them during your async calls to get your pbiToken.

[code]

[code]

[code]

In y

[2018-09-26 02:33] nissan commented on #3
Awesome! This worked like a charm! Thanks for the help! And for the awesome component.

[2018-09-26 02:33] #3 closed

[2018-10-23 22:13] glenrage opened #4 "Is there a way to render the Power Bi Report to take up entire window?"
In the demo when I click "RUN", the power bi report is rendered only half the size of the window. If I go into edit mode, I can then make it larger. Is there any way to render the report to take up the full window upon initial rendering?

[2018-10-24 03:15] akshay5995 commented on #4
@glenrage Yes, you can pass in the styles to the report-component to make it take up the entire window.

I'm currently passing in :

[code]

Is this question specific to the demo site or a feature request for the demo site?

[2018-10-24 09:45] akshay5995 commented on #4
@glenrage  I've added a button to toggle the display of config controls of the demo page.

I'm passing in the height of the report dynamically in styles to do the change. Please look into the images for reference.

_Show/Hide Config_ button can be found at the **top right corner** of the page.

![image](https://user-images.githubusercontent.com/13801224/47421808-fd57e280-d79e-11e8-8628-40ae1ed3d01

[2018-10-24 17:52] glenrage commented on #4
Ah ok, I see that it opens full screen now. I think I need to expand the size of my container. ANyways thanks for the help and for creating this nice package! Cheers!

[2018-10-25 04:41] akshay5995 commented on #4
Thanks !  Closing the issue

[2018-10-25 04:41] #4 closed

[2018-11-15 08:33] marklowe1 opened #5 "Filters removed when component re-renders"
I have embedded a report which requires filters to be set without user interaction.
I am currently setting the filters from the onLoad of the report. Because onLoad is called again once the filter is set I keep within my state whether I have set the filters or not.

However when the component re-renders due to the component being resized the filters are removed.
I cannot use onLoad to set them aga

[2018-11-15 13:29] akshay5995 commented on #5
@marklowe1 I tried I passing down this function as onLoad prop to the Report component and I don't see filters getting removed during resize.
Please let me know if my approach to recreate the issue is right.

`
/* My state.filter is set during componentDidMount */
componentDidMount() {
    this.updateState({
      $schema: 'http://powerbi.com/product/schema#basic',
      target: {
        table: '

[2019-02-22 03:45] akshay5995 commented on #5
Closing due to inactivity

[2019-02-22 03:45] #5 closed

[2019-04-26 01:22] nissan opened #6 "When I refresh the power bi embed token, the entire report reloads"
Hi,
I use a setInterval function to refresh the embed token before the 20 minute expiry that is set in the PowerBI Service. However, in getting the new token, the render() method in React is called and the report is re-rendered, which causes the report to lose its context (e.g. if several PBI report filters are set, the refresh reloads the report as if no filters have been set yet).
Is there a way

[2019-05-01 05:14] nissan commented on #6
The key for solving this for me was to use the shouldComponentUpdate method of the React lifecycle to detect and intercept the access token change but to return false so it does not do a re-render.

[2019-05-01 05:14] #6 closed

[2019-07-26 03:08] dikoga opened #45 "Is it possible to select the report page?"
At the raw já client it is possible but I couldn’t find an exposed property to do so.

It is the page name here: https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details

[2019-07-28 10:06] akshay5995 commented on #45
You can do this by using the `report` object returned to you in `onLoad` callback function.

[code]

Caveat in this is that you should know the page name in advance :)

Find the page you want using this method to log all the pages available in your report.

[code]

You can further refer to [this page](https://github.com/Microsoft/PowerBI-JavaScript/wiki/Page-Navigation) from powerbi js docs.

Sorr

[2019-07-28 10:59] akshay5995 commented on #45
Just released the new version of the package to support `pageName` to be passed in as a prop

[code]

Hope this save you the trouble of accessing the report object's method.

[2019-07-29 18:36] #45 closed

[2019-07-30 19:27] dikoga commented on #45
awesome! thanks!

[2019-08-21 09:40] VatsalBhavsar opened #53 "Component not showing dashboard for secured embedded URL."
Below is the configuration I used for non-secured embedded URL
`<Report
        embedType={`${powerbiConfig.EMBED_TYPE}`} // or "dashboard"
        tokenType="Embed" // or "Aad"
        accessToken={`${powerbiConfig.YOUR_EMBED_TOKEN}`} // accessToken goes here
        embedUrl={`${powerbiConfig.YOUR_EMBED_URL}`} // embedUrl goes here
        embedId={`${powerbiConfig.YOUR_REPORT_ID}`} // Report or

[2019-08-26 12:58] akshay5995 commented on #53
Hi @VatsalBhavsar, Both secure and nonsecure urls are of different reports right?.

If you modify the `EMBED_URL` then you'll have to modify the `EMBED_TOKEN` and `EMBED_ID`as it would be different for different reports.

You can always try out your config in the [demo site](https://akshay5995.github.io/powerbi-report-component/) for the component to validate.

Hope this answers your question.

[2019-08-28 11:09] VatsalBhavsar commented on #53
Hi,
Both the URLs was of the same report. Our primary need was to embed the dashboard through a secured UR, but it wasn't working so we tried with a non-secured URL first, which worked perfectly fine.

It wasn't working for a secured URL. At first, we thought that our access token might have expired, so we regenerated it and tried embedding the secured URL again, still, it didn't work.

[2019-08-30 09:19] akshay5995 commented on #53
Hi,

I'm not sure about how secure embed works with the JS API.

To be certain are you talking about the feature mentioned in this https://powerbi.microsoft.com/en-us/blog/easily-embed-secure-power-bi-reports-in-your-internal-portals-or-websites/ article?

[2019-09-04 06:57] #53 closed

[2019-09-04 06:57] akshay5995 commented on #53
Closing due to inactivity. @VatsalBhavsar  Please reopen if not solved.

[2019-10-04 14:49] Gustavoaz opened #72 "[BUG] Componente re-render always i change any state"
**Describe the bug**
Componente re-render always i change any state. I want re-render specific component in, not powerbi

**To Reproduce**
Change any state and component re-render

**Expected behavior**
Not re-render when i change some state

[2019-10-04 18:39] Gustavoaz opened #73 "[FEATURE] I would like send "viewMode" parameter"
I would like send "viewMode" parameter, because i need load with mode edit

[2019-10-05 08:21] akshay5995 commented on #72
Hi @Gustavoaz, I've got a few questions:

1. What do you mean by any state ?
2. Where is your `Report` component placed on the DOM tree?  (If your `Report` is under some `Parent` component whose state is dynamic then your `Child` i.e, `Report` will re-render when the parent re-renders.)

[2019-10-09 12:43] Gustavoaz commented on #72
Hi @akshay5995

1. Any state on my specific component
2. Yes, my `Report` is under some `Parent`.

I implemented method `shouldComponentUpdate` to stop with re-render and It worked. But i think this is not ideal solution.

[2019-10-09 21:50] Gustavoaz opened #78 "[BUG] Remove filters not working"
Remove filters not working and not show nothing in the console. But `fullscreen` it work.
Follow my code

[code]

[code]

[code]

[2019-10-10 13:37] akshay5995 commented on #72
React re-renders child component if the `Parent` component re-renders. What exactly is the issue with re-rendering ?. To solve this is why React has `shouldComponentUpdate` or `React.memo`. If I'm missing something please propose a solution.

[2019-10-16 14:55] akshay5995 commented on #78
I'm not able to reproduce this.

[2019-10-18 19:37] BenF-Lumedic opened #85 "[BUG] Change to onLoad event breaks ability to retrieve page data"
My `embedType` is 'report' if that's helpful for context.

In the current version, with the event setup below, I can call `await report.getPages()` in my onLoad handler and I receive the pages.
[code]

It appears that [the change to onLoad](https://github.com/akshay5995/powerbi-report-component/commit/a3924b27fa96560433f76cd50831273bd2cee92d#diff-64981db73b0fca7589b13889cbc2193fR70) breaks my abil

[2019-10-26 18:38] akshay5995 commented on #85
Merged your PR should fix this issue @BenF-Lumedic

[2019-10-26 18:38] #85 closed

[2019-10-28 15:40] BenF-Lumedic commented on #85
@akshay5995 Working great on my end, thanks!

[2019-10-31 15:51] akshay5995 commented on #72
Closing due to in activity

[2019-10-31 15:51] #72 closed

[2019-11-06 23:43] newhardwarefound opened #94 "[BUG] TypeError: _react.default.createRef is not a function"
I can't get powerbi-report-component to work. It complains type error in powerbi-report-component/lib/Embed.js:71.
I am using React 16.11.0, so it's not a version issue.

[2019-11-07 00:33] newhardwarefound commented on #94
My react version is too low.

[2019-11-07 00:33] #94 closed

[2019-11-11 16:03] sagnikm95 opened #97 "[BUG] I am trying to use aad token to embed the report, but when the page renders I get error saying You need to request Author for access"
**Describe the bug**
I am trying to use aad token to embed the report, but when the page renders I get error saying You need to request Author for access,
the user corresponding to the token has owner access on the record

![image](https://user-images.githubusercontent.com/25024356/68601722-e7f94780-04ca-11ea-8a65-20fcf6aac811.png)

[2019-11-12 14:26] akshay5995 commented on #97
@sagnikm95  Have you tried the same config in [Microsoft's demo site](https://microsoft.github.io/PowerBI-JavaScript/demo/v2-demo/index.html)

[2019-11-12 14:33] akshay5995 commented on #97
It's most likely that the user doesn't have access to the PowerBI resource. Re-verify that the user and password that you used to generate the AAD token has sufficient privileges to access the report you're trying to embedded.

[2019-11-12 16:20] sagnikm95 commented on #97
Thanks for getting back. I tried embedding the same in the demo site , but ended up getting the same error. The user which I used to generate the token is the owner of the report. Randomly few time the report is getting rendered. But most times I am faced with the access issue. I gave the AAD App all read permissions for the PowerBI App, is there any specific xustomization I need to do there ? Als

[2019-11-12 21:58] tratohecho3 commented on #97
For me this library worked perfectly to render the reports

[2019-11-13 02:40] akshay5995 commented on #97
@sagnikm95 I think as this is not concerned with the library implementation it cannot be considered a bug of the library. I would love to help you out please reach out to me by mail.

Please take a look [this video](https://www.youtube.com/watch?v=4KuyPNtVijo) on how AAD token/ Embed token can be generated.

@tratohecho3 Glad it helped you 👍

[2019-11-13 02:40] #97 closed

[2019-11-13 15:04] sagnikm95 commented on #97
Thanks @akshay5995 , reached out to you regarding the same,

[2019-11-25 10:28] nniefei opened #98 "[BUG] onRender callBack not working!"
onRender  callBack not work!

[2019-12-01 10:15] akshay5995 commented on #98
@nniefei I'm not able to reproduce it on my side. Maybe be you can try these:

1. Using the right prop `onRender` callback with with the right signature
2. Update the package if you're on the older version
3. The prop/ feature only works for the type `report` and *not* `dashboard` make sure you're not trying on a `dashboard`

[2019-12-03 17:23] #98 closed

[2019-12-30 21:57] PranavSakthivel opened #129 "Issue with fullscreen rendering"
I'm not able to get the report to render fullscreen, even after adding height 100% to style options, App.css, and index.css. Any idea what could be causing this? Thank you.
![Github](https://user-images.githubusercontent.com/33013003/71602258-4b3b4980-2b0c-11ea-8698-f06f40b596a1.png)

[2019-12-31 03:09] akshay5995 commented on #129
@PranavSakthivel

Try passing the style inline something like

[code]

[2020-01-01 16:39] akshay5995 commented on #129
@PranavSakthivel Did it fix the issue ?

[2020-01-01 23:05] PranavSakthivel commented on #129
Thanks for the help. I tried that with no luck, and went through the other issue that was opened a few months back. What I found worked was adding
`body > #root > div {
  height: 100vh;
}`
into App.js and that seemed to solve it. Probably not an issue with the component itself.

[2020-01-01 23:05] #129 closed

[2020-02-05 22:04] ipaptim opened #144 "[BUG] TypeError: Cannot read property 'tid' of undefined"
I am repeatedly getting the error TypeError: Cannot read property 'tid' of undefined (detail below).  I can't determine why it keeps coming up every time.  It also continues to error, like the page is refreshing.

Here is my JS

[code]

reportembed.externals.bundle.min.js:1324 TypeError: Cannot read property 'tid' of undefined
    at e.isAADTokenTenantValid (reportEmbed.min.js:1)
    at t.isPowerB

[2020-02-05 22:09] ipaptim opened #145 "Power BI Sign-In button does nothing[Question]"
When the page comes up the first time comes up with a Power BI Sign-In screen with a Sign-In button.  When you click it, nothing happens.  Is there a way to have to prompt the user to Sign In or do they need to sign into Power BI outside of this page?

[2020-02-08 09:46] akshay5995 commented on #145
Are you using `secure` embed? Maybe this will help. https://powerbi.microsoft.com/en-us/blog/easily-embed-secure-power-bi-reports-in-your-internal-portals-or-websites/

[2020-02-12 18:19] nighliber opened #148 "handleTileClicked doesn't seem to work for me, how can I troubleshoot?"
We have a SPA with sidebar nav, components are imported into the main page so the dashboard div doesn't live precisely at the root div, I was kinda thinking this could be the problem. In any case, I have it set to just console log the data in the dashboard component when the tile is clicked and nothing is happening, Snipped it looks like this:
`
    ...

    handleTileClicked = (data) => {

[2020-02-12 18:58] nighliber commented on #148
Nevermind, reading comprehension error on my part. Thanks for the great component!

[2020-02-12 18:58] #148 closed

[2020-02-20 15:53] #145 closed

[2020-03-16 13:25] ddivita opened #155 "[FEATURE] Add onError event."
Would be nice if this had an `onError` event. It would help with [overriding the error experience](https://github.com/microsoft/PowerBI-JavaScript/wiki/Overriding-Error-Experience).

[2020-03-16 15:17] akshay5995 commented on #155
Will do it in a day or two. 👍

[2020-03-18 17:12] akshay5995 commented on #155
Fixed PR (https://github.com/akshay5995/powerbi-report-component/pull/156). Thanks @ddivita 🎉

[2020-03-18 17:12] #155 closed

[2020-03-22 10:10] akshay5995 commented on #73
@Gustavoaz done you can pass in `reportMode` as "view" or "edit"

[2020-03-22 10:10] #73 closed

[2020-03-26 08:23] LiuZiHua-Andrew opened #167 "[FEATURE]Apply theme onload"
**Is your feature request related to a problem? Please describe.**
Currently I wanted to render pbi report with custom theme, whereas I can use `after load` to customize them on going but it will have a flip between original theme and new theme

**Describe the solution you'd like**
I checked that we only allowed predefined props being embeded as config, can we add the new feature `theme` in or you

[2020-04-03 09:14] rachitharlalka opened #174 "[BUG] Unable to embed tile"
I am trying to embed a tile but it doesn't load.

`const report2 = (
              <Report
                embedType="dashboard" // or "dashboard"
                tokenType="Embed" // or "Aad"
                accessToken={embedTileConfig.embedToken.token} // accessToken goes here
                embedUrl={embedTileConfig.embedUrl} // embedUrl goes here
                embedId={embedTileConfig.id}

[2020-04-03 09:16] rachitharlalka opened #175 "[BUG] Event gets triggered only for the last embedded report"
I have embedded multiple reports in the same page which all have some events. But the event get triggered only for the last added report and not for all. Please help.

[2020-04-03 11:31] akshay5995 commented on #174
There's a PR for it. https://github.com/akshay5995/powerbi-report-component/pull/57. I've not gotten enough time to work on it. I'll try to fix over the weekend.

[2020-04-03 11:34] akshay5995 commented on #175
The report internally uses `powerbi` global object. I think that would mean their Microsoft's fore lib implementation is binded only to the last embedded report. Let me look into it and give more details. Is there a reason that your using multiple reports ?

[2020-04-03 14:40] akshay5995 commented on #175
Hi, I found a similar issue on [stackoverflow](https://stackoverflow.com/questions/50718940/calling-powerbi-embed-multiple-times-at-the-same-time-produces-an-error).  So I fixed your issue can you try and check with new package version `1.7.2`.

[2020-04-03 14:56] rachitharlalka commented on #175
Thank you Akshay for the quick help. The reason behind using multiple report is to embed tiles based on user role.

[2020-04-03 15:00] rachitharlalka commented on #174
Thank you Akshay. It would be another great help. :)

[2020-04-03 15:08] akshay5995 commented on #175
Oh okay, Can you test it on your end? And re-open if not fixed.

[2020-04-03 15:16] rachitharlalka commented on #175
I was testing this only. It's working fine but not sure why i am getting too many errors in console.

ERROR Error: Uncaught (in promise): Esri is not supported in Embedded scenario.
ERROR Error: Uncaught (in promise): Error
ERROR TypeError: Cannot read property 'reject' of undefined
 All errors are related to dashboardEmbed.min.js
<img width="939" alt="embed-errors" src="https://user-images.github

[2020-04-03 15:28] akshay5995 commented on #175
@rachitharlalka It's error thrown by the `powerbi` js lib by Microsoft.  You can see it in stacktrace `dashboard.min.js`.

[2020-04-03 15:29] #175 closed

[2020-04-03 15:34] akshay5995 commented on #175
Please feel free to email me directly. I'll see if I can help you out.

[2020-04-03 15:42] rachitharlalka commented on #175
Sure. Thanks for the help. I ma trying to embed tile and report. But because tile option is not available, so embedded dashboard with single tile.

[2020-04-05 11:10] #174 closed

[2020-04-05 11:17] akshay5995 commented on #174
@rachitharlalka Use version `1.8.0` for the new mode

[2020-04-05 12:59] #144 closed

[2020-04-06 06:11] rachitharlalka commented on #174
Working like a charm. Thank you so much @akshay5995. :)

[2020-04-13 10:03] rahulpawar16 opened #183 "POWER BI Report not refresh the data after the data set refresh."
Sorry to miss info about the previous question.

Stage first-> I render report using the powerbi-report-component, I provided the accessToken, embedUrl, reportId, etc. It is showing report perfectly. fine till now,

Stage Second-> After doing some changes in MSSQL DB. I am Refreshing the PowerBI DataSet report using the DatasetId and GroupId. from the frontend. after 3 second my dataset refreshed,

[2020-04-13 15:03] akshay5995 commented on #183
@rahulpawar16 Can you rephrase the question. It's not very clear. Thanks.

[2020-04-13 15:35] akshay5995 commented on #183
Thanks for the explanation. Maybe you can try something like  [this](https://github.com/microsoft/PowerBI-JavaScript/blob/b5caee0ee077d1a136961fa4506108aeaba8de57/demo/app/index.js#L37)

Get the report object from `onLoad` function and ```report.reload().catch(err => console.log(err))```

[2020-04-14 08:50] akshay5995 commented on #183
@rahulpawar16 Can you confirm if it's working so we can close the issue ?

[2020-04-16 04:06] akshay5995 commented on #183
Closing due to no activity

[2020-04-16 04:06] #183 closed

[2020-04-17 10:09] neerajnarayanankp opened #187 "Gray border coming with report"
When Report is loaded, a grey border is coming . How to get rid of this ?

Expectation:
Only report content should be loaded, instead the a gray border of iframe is coming.

[2020-04-17 11:45] akshay5995 commented on #187
@neerajnarayanankp Can you send me a screenshot of an example ?

[2020-04-17 11:48] akshay5995 commented on #187
Did you try passing in `style` prop?

[code]

[2020-04-17 12:30] neerajnarayanankp commented on #187
@akshay5995 .sorry i am not able to share screenshot since the data is somewhat confidential.
i tried those style params , but still a boder is there.
But on finding the underlying iframe and changing the boder propery to 0 by inspecting the element , the border is removing.
is this a issue from pbi itself. i am not sure.

[2020-04-17 14:07] akshay5995 commented on #187
Maybe, Use can use `css selectors` to remove the border bu overriding the if the `div` is within the iframe.

[2020-04-20 10:23] neerajnarayanankp commented on #187
@akshay5995 got my issue resolved  by providing
.report > iframe {
  border: 0 !important;
}
Thank you

[2020-04-20 10:23] #187 closed

[2020-04-22 08:45] rachitharlalka opened #191 "Datasetbinding in reports"
Please add the dynamic dataset binding feature while embedding reports. It is used to connect with different datasets dynamically while having only one report. Below is the URL for refernce.

[Here](https://github.com/microsoft/PowerBI-JavaScript/wiki/Dynamic-Binding)

[2020-04-23 06:21] akshay5995 commented on #191
Will do it today 👍

[2020-04-23 06:26] akshay5995 opened #192 "[Refactor] Export different types of embed objects instead of generic Report"
To increase maintainability and separation of concerns in the code change the code structure to expose:
1. Report
2. Dashboard
3. Tile

instead of just `Report`.

Pro: More maintainability and better API design
Cons: Breaking change (users using default export of `Report` will be affected)

[2020-04-23 06:32] rachitharlalka commented on #191
Thank you Akshay. Really appreciate your help!

[2020-04-23 12:59] #191 closed

[2020-04-23 13:02] akshay5995 commented on #191
@rachitharlalka Please use `datasetId` prop to pass in your dataset id.

```<Report datasetId="your-dataset-id" {...otherProps} />```

[2020-04-24 03:29] akshay5995 commented on #191
@rachitharlalka feel free to reopen if not fixed

[2020-04-24 06:13] rachitharlalka commented on #191
It's working as expected. Thank you Akshay and apologies for not replying yesterday as was busy with some crucial work.

[2020-04-24 06:57] akshay5995 commented on #191
No problems, Thanks for confirming!

[2020-04-24 21:40] victorkurauchi opened #196 "[BUG] Embed reset function undefined"
**Describe the bug**
If you go to `Embed.jsx` in the `didUpdate()` method, you notice that there is no `this.reset()` method, unless it's from React itself but couldn't find docs. I even tried to force the this.reset before the first if

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Embed.jsx`
2. Move this.reset() to first line in the `didUpdate` method
3. See error "reset is not a f

[2020-04-25 07:40] akshay5995 commented on #196
@victorkurauchi  This is the existing code. We check for `this.component` before you can reset. If `this.component` is `null` you can't reset right?
[code]

[2020-04-25 07:41] akshay5995 commented on #196
What do want to accomplish with the change you specified?

[2020-04-25 18:58] victorkurauchi commented on #196
I meant, it looks like this.reset() function is never present, so even when we get to the point where the condition meets criteria, we'll have a crash... Or am I missing something?

[code]

[2020-04-25 19:27] akshay5995 commented on #196
True, No you're not. I don't remember why it was added. I'll remove it.

[2020-04-25 19:41] akshay5995 commented on #196
I think older version of Microsoft powerbi library had a reset function. And it probably should've been 'this.component.reset()' as that part was never changed for long time. I don't remember.

Apart from code cleanup is this causing any issues while using ? @victorkurauchi

[2020-04-25 19:47] victorkurauchi commented on #196
No @akshay5995 , apart from this cleanup we're good :) Just noticed because yesterday I was debugging my app and it came down to the component codebase haha.

Thanks, if you need I can open a PR.

[2020-04-25 19:49] akshay5995 commented on #196
Sure, Please go ahead and open a PR 🙏. Thanks for reporting 😄

[2020-04-26 13:24] #192 closed

[2020-04-26 14:08] akshay5995 commented on #196
Removed in the newly refactored version.

[2020-04-26 14:08] #196 closed

[2020-04-28 15:46] akshay5995 opened #202 "[Refactor] Docs/ Demo page"
Docs component (demo) app has become a gigantic mess with more fields and is not so easy to navigate or use.

Refactor into multiple components.

[2020-05-01 08:24] akshay5995 commented on #202
@satya64 should be a only docs change . Let's not have a milestone with versions for docs change 😄

[2020-05-02 12:46] satya64 commented on #202
- Okay 😀

[2020-05-04 09:48] neerajnarayanankp opened #209 "Page breaks while resizing the window"
I am using multiple reports in same page by using pageName property . But on window resize the page breaks with the following error.

`powerbi.js:499 Uncaught Error: Attempted to embed using config {"type":"report","tokenType":1,"accessToken":"accestoken","embedUrl":"embedurl","id":"id","pageName":"pageName","permissions":7,"settings":{"filterPaneEnabled":false,"navContentPaneEnabled":false}} on e

[2020-05-04 11:19] akshay5995 commented on #209
@neerajnarayanankp I'll take a look at it tonight.

[2020-05-04 11:29] akshay5995 commented on #209
@neerajnarayanankp `embedId` for both are the same ?

[2020-05-04 11:35] neerajnarayanankp commented on #209
@akshay5995  yes . `embedId` is same for both.only pageName is different .

[2020-05-04 11:47] akshay5995 commented on #209
Will merge and release new version. `2.0.2`

[2020-05-04 11:47] #209 closed

[2020-05-04 11:51] akshay5995 commented on #209
@neerajnarayanankp Latest version `2.0.2` should fix your issue. Please feel free to reopen if it's not fixed.

[2020-05-04 11:55] neerajnarayanankp commented on #209
@akshay5995 thanks for the super quick reply and fix  👍 .
Issue fixed !!!!

[2020-05-08 04:36] satya64 opened #211 "[BUG] Demo - removing config props from fields throwing error"
Description:

In the demo page, if we enter embed fields and run, report comes up on the left pane. If we remove one of the entered config value, say Embed Id, it should reset the left pane, but it is causing entire screen to go blank.

Reproduction steps:

Steps to reproduce the behavior:
1. Go to 'https://akshay5995.github.io/powerbi-report-component/'
2. Select Embed Type 'report' and embed mod

[2020-05-08 23:19] akshay5995 commented on #211
Refactor should fix it. Closing. Reopen if it's not fixed.

[2020-05-08 23:19] #211 closed

[2020-05-09 06:10] #202 closed

[2020-05-13 15:24] akshay5995 opened #216 "[BUG] Remove prop onFiltersApplied as powebijs stop supporting it"
Here's the link for the same https://github.com/microsoft/PowerBI-JavaScript/wiki/Handling-Events/_compare/76e8bdab9db0845a491d314c9416a8970096ed80...062deded817e0996921f00ec418e454b3afbdff8

[2020-05-13 15:36] #216 closed

[2020-05-18 19:05] paulo205 opened #222 "[BUG] Error 403 when running application"
Good afternoon.
I am trying the following problem. I make a request to an api where I receive the embedtoken and pass the properties. but when i run the application i get a 403 error.

code:
![codigo](https://user-images.githubusercontent.com/65562932/82250087-3b889a00-9921-11ea-9bd0-a14a39cb63d8.jpg)

error:
![error](https://user-images.githubusercontent.com/65562932/82250125-493e1f80-9921-11ea-8

[2020-05-19 02:02] akshay5995 commented on #222
Hi @paulo205 , I see that your your `this.state.list[1]` is set asynchronously i.e, Which means when your render function is called `this.state.list[1]` is `undefined` . You can handle it by doing something like this.

[code]

[2020-05-20 09:39] paulo205 commented on #222
Thanks, sorry to bother you with something so simple. But as I am still learning react, I have difficulties in some concepts.

[2020-05-20 09:39] #222 closed

[2020-05-20 09:53] akshay5995 commented on #222
No problem! Everyone has to go through the learning curve. Feel free to reach out if you have more doubts. All the best!

[2020-05-25 20:57] paulo205 opened #224 "Report update"
Hello good afternoon.
I have another question, I'm looking for the id and embed toke through a request with axios. The request is triggered when I click on the link. The first report loads normally, but if I click on another one it does not update the iframe how can I fix it.

![Sem título](https://user-images.githubusercontent.com/65562932/82842678-d1d43700-9eb0-11ea-9ec9-5f236ee26609.jpg)

[code

[2020-05-26 12:54] akshay5995 commented on #224
`Report` needs to unmount before you can update this configuration.
So, You can do something like if you have a different report ids. You can unmount using something like `loading` boolean.

Have a state value called `loading` and when you make the call to switch the workspace make it `true` and when you get the response along with the configuration make `loading` as `false`.

You can use it like

[2020-05-26 21:49] paulo205 commented on #224
I tried it like that, but it doesn't render anything.
what am I doing wrong.

export default class Reports extends Component {
  constructor(props) {
    super(props)
    this.state = {
      loading: true,
      idworkspace: '',
      workspaceDb: [],
      values: [],
      report: []
    }

    this.getReports = this.getReports.bind(this)
    this.getReport = this.getReport.bind(this)

    this

[2020-05-26 22:47] belozer-ti opened #227 "[FEATURE] typescript support"
**Is your feature request related to a problem? Please describe.**
We using TypeScript in our project. Using this library adds a little inconvenience, because we need to write custom `d.ts` files, which may not correspond to reality after updating the library.

**Describe the solution you'd like**
Availability of `d.ts` files for all components in the library

[2020-05-27 03:33] akshay5995 commented on #227
@belozer-ti  I'll pick it up this weekend. Thanks for raising it.

[2020-05-27 03:44] akshay5995 commented on #224
@paulo205,  https://dev.to/torianne02/componentwillmount-vs-componentdidmount-5f0n. Prefer using `componentDidMount` for anything that has to hydrate your state. Also, `componentWillMount` is deprecated in the latest versions of React.

[code]
Make sure you set loading as `true` before you make the `axios`. And once you get the response in `finally` set loading as `false`.

[code]

[2020-05-27 13:27] paulo205 commented on #224
thank you worked.

[2020-05-27 13:27] #224 closed

[2020-05-28 08:33] S-J-D-13 opened #239 "[BUG] TypeError: undefined is not an object (evaluating 'cyptoObj.getRandomValues') - Looks to be an issue with the power bi client library when running on IOS."
I am getting the above error when trying to use the package. See full message:

![IMG_0607](https://user-images.githubusercontent.com/32793990/83118267-0f5ddd80-a0c6-11ea-8613-ee769de9b56a.PNG)

I am fairly new to react native so it probably my fault but I have followed the documentation and can't find out how to fix as it is part of the dependency not my code?

[2020-05-28 11:09] akshay5995 commented on #239
Hi @S-J-D-13, It looks like it's an issue with powerbi.js a core dependency of this package. I'm not sure if it's a big of this package.

[2020-05-31 17:09] #239 closed

[2020-05-31 17:09] akshay5995 commented on #239
Closing as the bug's not related to the library.

[2020-05-31 17:10] akshay5995 commented on #227
@belozer-ti added support. Re-open if you're still facing issues.

[2020-05-31 22:47] belozer-ti commented on #227
@akshay5995 thanks! I upgraded package to 2.2.0 version and have the same problems

![image](https://user-images.githubusercontent.com/61135195/83364396-c2ba2100-a3a9-11ea-8d74-467a3fa7ba1a.png)

[code]

[2020-06-01 01:21] akshay5995 commented on #227
`import { Report } from 'powerbi-report-component/lib';` @belozer-ti try this.

[2020-06-01 01:37] akshay5995 commented on #227
Reopening to track import issues.

### Workaround for version `2.2.0` is `import { Report } from 'powerbi-report-component/lib';`

[2020-06-01 02:14] akshay5995 commented on #227
@belozer-ti Should be fixed in `2.2.1`.

[2020-06-01 02:17] #227 closed

[2020-06-01 02:34] belozer-ti commented on #227
@akshay5995 why prop style in Dashboard declared as `string`, in Report declared as `any`. After all, it use the Embed component, which used in the property `style` of  `div` element.

It `React.CSSProperties` type
https://github.com/akshay5995/powerbi-report-component/blob/master/src/lib/Embed.tsx

[2020-06-01 02:58] akshay5995 commented on #227
@belozer-ti My bad. Fixed in the latest version `2.2.2` . It was by mistake.

[2020-06-01 03:09] belozer-ti commented on #227
@akshay5995 I don't notice any critical problems yet. Thanks!

[2020-06-01 03:11] akshay5995 commented on #227
Thanks @belozer-ti . Please feel free to reopen this issue. If you find any issue.

[2020-06-02 07:50] akshay5995 opened #242 "[BUG] Scroll not working for mobile view in demo app."
Scroll not working for mobile view in demo app.

[2020-06-02 10:52] #242 closed

[2020-06-02 14:16] MadsMadsDk opened #243 "[FEATURE] Better docs for settings object"
I'm currently trying to implement a mobile view for an embedded report, but I think it's not really clear as to which settings are available on the `settings`-property of the `hooks` implementation.

Currently, I'm just struggling with what I can pass to the `layoutType` property, but I could imagine it would be neat with a reference of which parameters are available, and what they do, both for me

[2020-06-02 16:08] akshay5995 commented on #243
Thanks @MadsMadsDk. I'll add the docs.

[2020-06-03 02:56] akshay5995 commented on #243
@MadsMadsDk Hope this helps https://github.com/akshay5995/powerbi-report-component#passing-in-custom-layout-for-usereport-hook

[2020-06-04 13:25] akshay5995 commented on #243
@MadsMadsDk Can I close this?

[2020-06-04 18:57] joshpennington opened #247 "[FEATURE] Refresh Embed Token Before They Expire"
**Is your feature request related to a problem? Please describe.**
After a certain amount of time (about 1 hour) the embed token expires and opening new tabs on a report shows an error (an HTTP 403 error).

**Describe the solution you'd like**
The PowerBI Client details a way to refresh the token automatically (https://github.com/Microsoft/PowerBI-JavaScript/wiki/Refresh-token-using-JavaScript-SDK

[2020-06-04 22:24] akshay5995 commented on #247
@joshpennington Have you tried to follow the same regeneration function that's given in powerbi JS wiki example but using the 'report' object that you get back from 'onLoad' function?

[2020-06-06 08:21] akshay5995 commented on #247
@joshpennington  The above mentioned approach should work with the latest version '2.2.3'

[2020-06-06 13:36] #243 closed

[2020-06-09 16:20] simonerossoau opened #252 "[BUG] Setting the filters get error"
**Describe the bug**
on load report, I'm setting the filters as described in the example but I get the following error:
{message: "undefined property is invalid"}

**To Reproduce**
Try to set filters on loading report

Here my code:

**- setting the filter:**

[code]
**- onLoad:**

[code]

Am I doing anything wrong or could be a bug?
Thanks

[2020-06-09 17:20] akshay5995 commented on #252
Hi @simonerossoau, I'm using the report configuration and filter from Microsoft's Demo page:

[code]

This works perfectly for me.

[2020-06-09 17:23] akshay5995 commented on #247
@joshpennington Can I close this ? Not sure if my answer helped you.

[2020-06-09 17:37] joshpennington commented on #247
You can close it if you want. I was not able to get it working yet, but I also have not had enough time to work through it fully.

[2020-06-09 17:50] akshay5995 commented on #247
No problem. I'll keep it open. I'll create a code sandbox and share you the link to a working example. We can close it once your issue is resolved. Thanks

[2020-06-10 10:51] simonerossoau commented on #252
Hi @akshay5995
I don't know why, but suddenly this morning started working properly.
Maybe the error was something of the power BI report itself.
Thanks for your time!

[2020-06-10 10:51] #252 closed

[2020-06-11 14:18] timothyeash commented on #247
@akshay5995, I implemented your sandbox solution and it seems to be working great.

[2020-06-11 15:53] joshpennington commented on #247
As my colleague said it worked great. You have saved us a lot of time. Thank you!

[2020-06-11 16:18] timothyeash opened #254 "[BUG] onPageChange"
**Describe the bug**
When clicking on the page tabs at the bottom of a PowerBI report, the event onPageChange doesn't fire. I have another event "onSelectData" that does work.

  const handleDataSelected = (data) => {
    console.log("data selected", data);
  }
  const handlePageChange = (data) => {
    console.log("page changed", data);
  }

        <div key={reportId} className={loading !== true

[2020-06-11 16:32] akshay5995 commented on #254
@timothyeash I can't reproduce it.

[2020-06-11 16:33] akshay5995 commented on #254
![image](https://user-images.githubusercontent.com/13801224/84414252-edbf3300-ac3b-11ea-84df-eeda9f2fd7ff.png)

[2020-06-11 16:36] timothyeash commented on #254
I didn't want to tag it as a BUG has I am sure you guys have tested this simple feature. Probably can close this as clearly it works.

[2020-06-11 16:38] akshay5995 commented on #254
https://codesandbox.io/s/weathered-pine-d3bt4. Sandbox link for your reference.

[2020-06-11 16:38] #254 closed

[2020-06-11 16:41] akshay5995 commented on #247
No problem! Happy to help 👍

[2020-06-26 06:50] sftsk commented on #239
The issue seems to have to do with this: https://github.com/react-native-community/discussions-and-proposals/issues/83
The crypto library to generate unique ids is not included in react-native.

This should be a workaround if you are using react-native normally: https://github.com/LinusU/react-native-get-random-values , this might eventually become at a workaround if you work with Expo: https://gi

[2020-07-03 16:58] CristianWesleyFront opened #264 "[BUG] Support EditMode in useReport hook"
**Describe the bug**
I can't set "edit mode" when I use PowerBi component with hooks, they just show me report on view mode. When I put reportMode to edit this not works and show me again on view mode.  I also can't use onLoad function to use switchMode to edit like I use when not using with hooks.

**To Reproduce**
 const myReportConfig = {
    embedType: 'report',
    tokenType: 'AccessToken',

[2020-07-03 20:12] akshay5995 commented on #264
@CristianWesleyFront You can upgrade the package to version `2.2.4`. You can see the codesandbox [here](https://codesandbox.io/s/green-sky-bmj91?file=/src/App.js).

[2020-07-05 11:09] akshay5995 commented on #264
@CristianWesleyFront repoen this if it's not foxed.

[2020-07-05 11:09] #264 closed

[2020-07-09 05:15] hiiashish opened #266 "react version supported"
I am using quite an old version of React 16.7.0, will the library works in my project.
Because once I add this library and tried to run I am facing below issue ,
**"TypeError: React.useState is not a function"**

[2020-07-09 12:18] akshay5995 commented on #266
You will need React version with hooks. Versions >=16.8.

[2020-07-10 18:31] #266 closed

[2020-07-13 17:53] RossPauly opened #268 "[FEATURE] Add 'Report Visual' component"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
There should be another component for Report Visuals. Tiles and Reports don't accept visual name so page visuals can't be rendered

**Describe alternatives you've considered**
A clear and concise descri

[2020-07-14 19:04] #268 closed

[2020-07-14 19:15] akshay5995 commented on #268
@RossPauly added `ReportVisual` component. Please refer usage in the README. https://github.com/akshay5995/powerbi-report-component#new-usage-for-reportvisual

[2020-07-14 19:15] akshay5995 commented on #268
Version `2.4.0`

[2020-07-31 13:12] plopcodes opened #282 "[BUG] ReportVisual datas"
**Describe the bug**
Hi, as we said I am opening an issue regarding the ReportVisual component. Basically, I have a React app that is using two ReportVisual component on the same page. Both of those ReportVisual are rendering the Power Bi visual very well, no problem at all. However, both of the visuals are on the same report on power bi and both have interaction with each other (i.e if I do click

[2020-08-01 11:06] akshay5995 commented on #282
Hi @plopcodes,

Are you using `ReportVisual` or `Report` ?

[code]

[2020-08-01 11:30] akshay5995 commented on #282
I can't reproduce it. Please see https://codesandbox.io/s/goofy-agnesi-7ssrp?file=/src/App.js

[2020-08-02 12:40] plopcodes commented on #282
Hi @akshay5995

Thanks for your time, I'm using `ReportVisual` but I tried both.

I can't see the result of your code because the access tokens got expired I guess. I took your code and I did try locally but I have the same result. Maybe I wasn't super clear regarding my problem, here is a better description.

Here is the result of my work on PowerBi :
<img width="885" alt="Capture d’écran 2020-0

[2020-08-02 19:08] muthu1712 commented on #282
Hi @plopcodes ,

I guess when you use `ReportVisual` , it becomes a completely independent component. It doesn't look for filters in other `ReportVisual` rendered in the same page.

If you need the Visuals to communicate with each other, then they must be rendered together as a Report only.

One more suggestion is that to probably handle the filtering manually via code by leveraging the getFilters

[2020-08-03 07:18] plopcodes commented on #282
HI @muthu1712,

That's exactly what I was thinking as well, make sense for me.

I will close the issue then. Thank you

[2020-08-03 07:31] #282 closed

[2020-08-03 07:31] plopcodes commented on #282
work as designed.

[2020-09-21 10:58] neerajnarayanankp opened #301 "How to capture Link clicked event"
i need to listen to a  **Link clicked event** from powerbi-report-component. But from the documentation of pbi report component , i could not find any useful explanation on how to do the same.
But in the official documentation i could find the [link](https://github.com/microsoft/PowerBI-JavaScript/wiki/Link-clicked-event)
Use case is ,i have a power-bi-rpeort with a link to an external report whic

[2020-12-17 15:58] Tzvetelin88 opened #330 "Difference between powerbi-report-component and powerbi-client-react"
Hello what is the main difference between this library and official one: https://github.com/microsoft/powerbi-client-react ?
The official one actually is just doing Iframe and not real React component integration, whish is very bad.

[2021-01-26 22:23] sageguy09 opened #337 "Unable to display dashboard"
I am attempting to use the 'Dashboard' component of this repo, however, I am unable to view the dashboard.

I use a backend node server for generating an access token for an "App Owns Data" scenario (service principal authenticationMode, clientSecret, etc) to generate an embed token.

When I attempted to render the report, I can see the component and the styling/image components are displayed prop

[2021-01-27 02:48] sageguy09 commented on #337
Update: The issue was stemming from some permission settings, preventing the user from seeing the data. (Yay...RLS working though!)

The poor error output is a bit of a pain, but that's more of a Microsoft problem I suppose. **Please resolve or delete issue.**

Thank you for your work!

[2021-01-27 02:48] #337 closed

[2021-04-20 15:46] nitishkr opened #374 "Not able to bootstrap and preload report using this component"
Hi ,

I am not able to preload and boostrap my power bi report using this component for improving performance. Please help .

[2021-04-29 20:13] brunohsn6 opened #380 "CSP issue on Report component Render"
When i try to render my PowerBI Report component on production environment, I face this error:

Refused to frame 'https://app.powerbi.com/' because it violates the following Content Security Policy directive: "default-src 'self'". Note that 'frame-src' was not explicitly set, so 'default-src' is used as a fallback.

[2021-05-19 15:33] akshay5995 commented on #330
@Tzvetelin88  Both use `powerbi-client` client internally. This library is an unofficial wrapper whereas that's from microsoft.

I just created react-y components which are easier to use and have better contract exposed as props.

[2021-05-19 15:34] akshay5995 commented on #374
@nitishkr sorry for the delayed response. Can you please explain in detail.

[2021-05-19 17:36] nitishkr commented on #374
@akshay5995 : How can we achieve this functionality [power bi bootstrap](https://docs.microsoft.com/en-us/javascript/api/overview/powerbi/bootstrap-better-performance) using this package.

[2021-05-20 07:45] akshay5995 commented on #374
This package doesn't have that functionality yet. I'll covert this into a feature request and try to adopt it.

Given that consumers might hit edge cases I'll try to export it as a different component so that we don't break existing contracts.

Thanks

[2021-05-20 09:58] akshay5995 commented on #374
This package doesn't use `bootstrap` use `embed` instead internally - I'd like to understand more on how you're planning to use it. For example what's the requirement to use `bootstrap`:

Are you trying to do an ajax call to say get your `embedToken` or `reportType` and you'd like to use the bootstrap on component load base structure and then load report once your ajax call completes ?

[2021-05-21 10:43] akshay5995 commented on #380
@brunohsn6  The iframe is generated by the [powerbi-js](https://github.com/Microsoft/PowerBI-JavaScript) library which is used by this library.

[2021-05-21 10:44] akshay5995 commented on #380
@muthu1712 can you take a look if we can do something to help pass different CSP setting to iframe ?

[2021-05-21 15:00] brunohsn6 commented on #380
Yea, i've solved my issue making a different configuration on my server property configs! Initially I thought that those flags should be at the iframe tag, but I was able to fix it on my application! Thanks tho!

[2021-05-21 15:26] #380 closed

[2021-05-23 10:55] akshay5995 commented on #374
@nitishkr You can try this new feature and let me know the feedback https://github.com/akshay5995/powerbi-report-component#usebootstrap

[2021-05-23 10:55] #374 closed

[2021-05-23 15:42] #330 closed

[2021-05-23 15:48] muthu1712 commented on #301
@neerajnarayanankp
The [powerbi-js](https://github.com/Microsoft/PowerBI-JavaScript) library which is used by this library has the event `dataHyperlinkClicked`, that gets triggered only when a table data represented as a URL is clicked.
It doesn't have any event handlers for links clicked apart from it.

[2021-05-23 15:48] #301 closed

[2021-07-02 10:12] Lodeli opened #429 "[BUG] Wrong Config property name in /lib/utils/config.js"
**Describe the bug**
The code at /lib/utils/config.js:136 is checking the property
`var embedType = config.embedType;`
With typescript in the Config interface the property is named 'type', so this check always returns undefined, leading to a "Wrong embed type" exception.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a brand new react project using typescript template
2. Create a fun

[2021-07-02 11:03] akshay5995 commented on #429
Thanks for reporting - I'll fix it ASAP

[2021-07-03 13:47] akshay5995 commented on #429
@muthu1712 will raise a PR for this

[2022-02-22 01:47] tonytbn opened #576 "Is it possible to delay and let the report load only the filters"
If i have a report which list all data, when i want to embed into my react application i want to filter it right away. However, the existing situation is it will show all and spinning for a while to apply the filter.

[2022-02-22 09:46] tonytbn opened #577 "Can useReport able to set filter on load ?"
Currently the Config interface does not contain filters. Is it possible configure the filter inside the interface. or filters in embed config ?

[2022-03-30 04:47] NandanSpeedshield opened #594 "[BUG] Cannot use useReport in typescript-react app."
When useReport is used inside the useEffect, it throws an error mentioning about the wrong embed-type. But useReport works well with JSX file.
Expected type of Config {
    type: EmbedType;
    tokenType: TokenType;
    accessToken: string;
    embedUrl: string;
    pageName: string;
    groupId: string;
    visualName: string;
    extraSettings: any;
    permissions: Permissions;
    id: string;